@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 100 900;
  src: url("~/assets/fonts/Vazirmatn[wght].woff2") format("woff2");
  font-display: swap;
}

:root {
  font-family: Vazirmatn;
}

[dir="rtl"] .logo {
  @apply text-3xl;
  font-family: Vazirmatn;
}
.dark .page-header {
  @apply text-gray-300 border-slate-700 bg-slate-600;
}
.dark header {
  @apply bg-slate-800 border-slate-900;
}
.dark {
  --ui-bg: var(--color-slate-700);
}
